/* regole generali */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

.container {
    width: 70%;
    margin: 40px auto;
    /* DEBUG 
    min-height: 500px;
    background-color: blue; */
}

/* regole header */
header {
    text-align: center;
}

h1 {
    color: rgba(229,49,112,255);
    font-size: 40px;
}

header > p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 55px;
    margin-bottom: 35px;
    
}

/* regole clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* regole col */
.col {
    background-color: rgba(15,14,23,255);
    width: calc( (100% / 3) - 30px) ;
    height: 100px;
    float: left;
    margin: 0px 15px 40px 15px;
    margin-bottom: 40px;
    box-shadow: 3px 3px 3px 3px rgba(132,139,142,255);
    
    
}

/* regole immagini */
.avatar {
    max-width: 30%;
    max-height: 100%;
    float: left;

}

/* regole interno riquadri */
.infoppl {
    color: white;
    padding-left: 120px;
}
.mail {
    color: rgba(103,198,235,255);
}

.name,.role,.mail {
    padding-top: 8px;
}